.AccountListOptions-container{
display: flex;
justify-content: space-between;
align-items: center;
border-bottom: solid 1px #403f3f61;
margin: 15px;
}

.AccountListOptions-text{
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Arial Narrow Bold', sans-serif;
}
