.col-father {
    list-style: none;
    justify-content: space-between;
    display: flex;
    margin: 0px;
}

.col-child{
    padding: 10px 20px;
}

.navbar-down{
    position: fixed;
    width: 100%;
    bottom: 0px;

}